body{
  background-color: darkslategrey;
  color: white;
  font-family: Gill sans, sans-serif;
  font-style: bold;
     width: 50%;
        max-width: 800px;
        margin: auto;
  font-size: 18pt;
}
p{
  font-size: 16pt;
}
* {
  box-sizing: border-box;
}
  .lastResult {
        color: white;
        padding: 3px;
}
@media screen and (min-width: 480px) {
 
}
